{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="page-section cta">
    <div class="container text-color pt-3">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <em><strong>Opening Hours</strong></em>
                    </h2>

                    <div class="container pb-3 my-pink-text">
                        <div class="row pb-2">
                          <div class="col">
                            Sunday
                          </div>
                          <div class="col">
                            11.00 - 19.00
                          </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Monday
                            </div>
                            <div class="col">
                                12.00 - 22.00
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Tuesday
                            </div>
                            <div class="col">
                                12.00 - 22.00
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Wednesday
                            </div>
                            <div class="col">
                                12.00 - 22.00
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Thursday
                            </div>
                            <div class="col">
                                12.00 - 22.00
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Friday
                            </div>
                            <div class="col">
                                12.00 - 22.00
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col">
                                Saturday
                            </div>
                            <div class="col">
                                11.00 - 23.00
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid py-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 py-3">
                                <p class="fs.5 pb-2">
                                    <i class="bi bi-geo-alt"></i>
                                    <small><em><strong>Address</strong></em></small>
                                    <br />
                                    <em>
                                        <span class="my-pink-text">48 W 8th St, New York, NY 10011, United States</span>
                                        <br />
                                        <span class="my-pink-text">New York</span>
                                    </em>
                                </p>
                                <p class="fs.5 pb-2">
                                    <i class="bi bi-phone"></i>
                                    <small><em><strong>Call Us</strong></em></small>
                                    <br />
                                    <span class="my-pink-text">(317) 585-8468</span>
                                </p>
                                <p class="fs.5">
                                    <i class="bi bi-envelope"></i>
                                    <small><em><strong>Email Us</strong></em></small>
                                    <br />
                                    <span class="my-pink-text">thechownyc@gmail.com</span>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 py-3">
                                <div id="map"></div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Path to js rendered maps script -->
    <script type="module" src="{% static 'js/contact/contact.js' %}"></script>

    <!-- Google Maps -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hMPWEBc7OVJgscJMiQ8ZvAzv1QAt-cc&callback=initMap"></script>
{% endblock %}