{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="page-section cta">
    <div class="container text-color pt-3">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Our Schedule</span>
                    </h2>
                    <ul class="list-unstyled list-hours pb-3 px-2 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ms-auto">11.00 - 19.00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ms-auto">12.00 - 22.00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ms-auto">12.00 - 22.00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ms-auto">12.00 - 22.00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ms-auto">12.00 - 22.00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ms-auto">12.00 - 22.00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ms-auto">11.00 - 23.00</span>
                        </li>
                    </ul>
                    <div class="pb-3">
                        <p class="fs.5 pb-2">
                            <em>
                                <strong>48 W 8th St, New York, NY 10011, United States</strong>
                                <br />
                                New York
                            </em>
                        </p>
                        <p class="fs.5 pb-2">
                            <small><em><strong>Call Us</strong></em></small>
                            <br />
                            (317) 585-8468
                        </p>
                        <p class="fs.5 pb-2">
                            <small><em><strong>Email Us</strong></em></small>
                            <br />
                            thechownyc@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}