{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}

<header id="main-header">
    <div class="landing-text">
      <img src="{% static '../static/img/gourmet-chow-logo.png' %}" alt="Gourmet Chow logo" width="250" height="250">
      <h1>TASTE YOU WON'T FORGET...</h1>
      <h3>New York Times -<span>"Wow where have you been my whole life"</span></h3>
    </div>
</header>

<section class="bg-color">
    <div class="padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="{% static '../static/img/pexels-mister-mister-3434523.jpg' %}" alt="food on a table" width="300" height="400">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <h2>Early Beginnings</h2>
            <p id="drop-size" class="fs-4">Gourmet Chow has been around since 2019 in the Soho section of New York City. Serving some of the most
              amazing dishes in all of town. It's unique style and branding have catapulted it among the best gourmet
              restaurants. Celebrities rave about it and stars like Super Bowl champion quaterback Eli Manning have
              expressed their admiration for it. If you want top quality food then this is the place to eat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block postloadjs %}

    {{ block.super }}
        <script src="{% static 'js/restaurant/index.js' %}"></script>

{% endblock %}