{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-color">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-1">
                        <span class="section-heading-upper">Market Salads & Starters</span>
                    </h2>
                    <div class="row">
                        <div class="col">
                            Baby Gem Caesar
                        </div>
                        <div class="col">
                            $23.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Blue Iceberg
                        </div>
                        <div class="col">
                            $23.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Maple & Bourbon
                        </div>
                        <div class="col">
                            $16.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Tuna Tartare
                        </div>
                        <div class="col">
                            $30.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Crispy Calamare
                        </div>
                        <div class="col">
                            $22.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Jumbo Lump Crab Cake
                        </div>
                        <div class="col">
                            $50.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Burrata
                        </div>
                        <div class="col">
                            $26.00
                        </div>
                    </div>
                    <h2 class="section-heading mb-1">
                        <span class="section-heading-upper">Main Course</span>
                    </h2>
                    <div class="row">
                        <div class="col">
                            Filet 10oz
                        </div>
                        <div class="col">
                            $32.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            NY Strip 14oz
                        </div>
                        <div class="col">
                            $64.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Dry Aged Delmonico 14oz
                        </div>
                        <div class="col">
                            $104.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Cowgirl Ribeye 16oz
                        </div>
                        <div class="col">
                            $92.00
                        </div>
                    </div>
                    <h2 class="section-heading mb-1">
                        <span class="section-heading-upper">Sides</span>
                    </h2>
                    <h5>
                        <span>$19.00 each</span>
                    </h5>
                    <div>
                        Yukon Gold Mashed
                    </div>
                    <div>
                        Tater Tots
                    </div>
                    <div>
                        Parmesean Truffle Fries
                    </div>
                    <div>
                        Sweet Corn Pudding
                    </div>
                    <div>Crispy Brussels Sprouts</div>
                </div>
            </div>
        </div>
    </div>
</section>

{%  endblock content%}