{% extends "base-no-footer.html" %}

{% block content %}
    <!-- Dropdown Menu -->
    <div class="row">
        <div class="col-md-12 landing-text text-center">
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Guests
                </button>
                <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                <li><a class="dropdown-item" href="#">2 Guests</a></li>
                <li><a class="dropdown-item" href="#">3 Guests</a></li>
                <li><a class="dropdown-item" href="#">4 Guests</a></li>
                <li><a class="dropdown-item" href="#">5 Guests</a></li>
                <li><a class="dropdown-item" href="#">6 Guests</a></li>
                </ul>
            </div>
            
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                Date
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                <li><a class="dropdown-item" href="#">December</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Booking Times -->
    <div class="container-sm text-color pt-3">
        <h5 class="ms-5">Times</h5>
        <div class="d-flex justify-content-evenly">
            <div class="bg-times border border-dark">16.00</div>
            <div class="bg-times border border-dark">17.00</div>
            <div class="bg-times border border-dark">18.00</div>
        </div>
        <div class="d-flex justify-content-evenly pt-5">
            <div class="bg-times border border-dark">19.00</div>
            <div class="bg-times border border-dark">20.00</div>
            <div class="bg-times border border-dark">21.00</div>
        </div>
    </div>

  {% endblock content %}