{% extends "base-no-footer.html" %}

{% block content %}

<div class="container-sm mt-5">
    <form action="">
        <div class="row align-items-start text-center">
            <div class="col">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    Guests
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                    <li><a class="dropdown-item" href="#">2 Guests</a></li>
                    <li><a class="dropdown-item" href="#">3 Guests</a></li>
                    <li><a class="dropdown-item" href="#">4 Guests</a></li>
                    <li><a class="dropdown-item" href="#">5 Guests</a></li>
                    <li><a class="dropdown-item" href="#">6 Guests</a></li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- <div class="col">
              One of three columns
            </div> -->
    </form>
</div> 

{% endblock content %}